@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal; /*@font-face é uma regra por isso deu pra colocar esse font-weight de boa*/
}

/*:root e * configutações globais por isso estão acima e só abaixo das regras.*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

*/*Ele tá selecionando todas as tags do documento e substitui você ter que digitar todas aqui*/ {
    margin: 0px;
    padding: 0px; /*padding e margin estão incômodando algumas parte do documento, por isso foi padronizado pra 0px (óbvio que não vai ficar assim pra sempre)*/
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517'; /*Decoração pra link externo - bonitinho; É uma configuração global; Os links externos do rodapé não vão ganhar, pq fica muito feio*/
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /*Altura miníma*/
    padding-top: 40px; /*Pra não ficar tão colado ao topo do site;*/
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    margin-bottom: 10px; /*Pra ter um espaço entre h1 e p do header*/
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    color: white;
    max-width: 600px; /*O efeito colateral é que vira um block-level, e você vai ter que usar o margin: auto pra forçá-lo a centralizar*/
    padding-left: 10px; /*Pra não ficar colado*/
    padding-right: 10px; /*Pra não ficar colado*/
    margin: auto auto 20px auto;
}

nav {
    background-color: var(--cor5);
    padding: 10px; /*Pra ficar um pouco mais gordinho*/
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363); /*A primeira medida é 0px, porque o professor quis sombra só pra baixo*/
}

nav > a {
    color: var(--cor0);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s; /*Quando colocar o mouse em cima vai demorar meio segundo pra mudar*/
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 1000px; /*Se você olhar o devtools ele vai mostrar que a largura do <main> atual é 1000px*/
    margin: auto;
    margin-bottom: 30px; /*Outro jeito seria margin: auto auto 30px auto*/
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.400); /*Tirou o negócio da lateral e baixo e tirou embaçamento pq o espalhamento tá de 10px*/
    border-radius: 0px 0px 10px 10px;
    background-color: white;
}

main h1 { /*PQ FUNCIONA ASSIM?*/
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal; /*ficar mais leve de ver*/
    font-size: 1.8em;
}

main h2 { 
    background-image: linear-gradient(90deg, var(--cor1), transparent);
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal; /*ficar mais leve de ver*/
    text-indent: 8px;
}

main p {
    margin: 15px 0px; /*cima e baixo, lados; essa geralmente é a configuração padrão que o parágrafo já tem*/
    text-align: justify;
    text-indent: 30px;
    font-size: 1em; /*Pq isso tá aí se é o padrão*/
    line-height: 2em; /*Espaçamento pra facilitar a leitura*/
}

main a { 
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover { /*feito para ele ganhar carecterísticas de link ao passar o mouse em cima*/
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block; /*Uma imagem por padrão não é de block-level, por isso você tem que fazê-la virar block-level, pra depois centralizar ela através das margens automáticas*/
    margin: auto;
}

main strong { /*Vai configura tudo que tá em negrito no main*/
    color: var(--cor4);
    font-weight: bold;
}

div#video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px; /*Quer que o vídeo cresça para fora; 30px só pra distanciar*/
    padding: 20px;
    padding-bottom: 59%; /*Pra tirar as faixas pretas desse vídeo, essa mesma porcentagem não funciona com todos*/
    position: relative;
}

div#video > iframe {
    position: absolute; /*Ele também permite o uso do top e left*/
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em; /*Por ser um rodapé*/
    padding: 5px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.263);
}
aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px; /*Ele quer que a margem cresça 10px pra fora; margem negativa é pra vazar pra fora*/
    border-radius: 10px 10px 0px 0px; /*cima esquerda, cima direita, baixo esquerda, baixo direita*/
}
aside ul {
    list-style-type: '\2714\00A0\00A0'; /*Essa marca especifíca só funciona no chrome; 00A0 são apenas espacinhos*/
    list-style-position: inside;
    columns: 2;
}

footer > p > a { 
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: white;
    color: var(--cor1);
}